                                /* Estilos para el cuerpo del documento */
                                
                                body {
                                    font-family: 'Arial', sans-serif;
                                    line-height: 1.6;
                                    margin: 0;
                                    padding: 0;
                                    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
                                    /* Fondo con gradiente suave */
                                    color: #333;
                                }
                                /* Estilos para el encabezado */
                                
                                header {
                                    background-color: #0766f5ef;
                                    color: #fff;
                                    padding: 20px 0;
                                    text-align: center;
                                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                }
                                /* Estilos para la sección principal */
                                
                                main {
                                    max-width: 800px;
                                    margin: 20px auto;
                                    padding: 20px;
                                    background: #1096d480;
                                    /* Fondo blanco */
                                    border: 1px solid #e74c3c;
                                    /* Borde rojo */
                                    border-radius: 15px;
                                    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
                                }
                                /* Estilos para formularios */
                                
                                form {
                                    max-width: 600px;
                                    margin: auto;
                                }
                                
                                .contenedor {
                                    border: 2px solid #e3e703;
                                    padding: 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 20px;
                                    /* Espacio entre las imágenes */
                                }
                                
                                .imagen {
                                    max-width: 100%;
                                    height: 250px;
                                }
                                
                                .contener-video {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 80vh;
                                    /* Altura del contenedor ajustable */
                                }
                                
                                .contener-video video {
                                    max-width: 100%;
                                    height: auto;
                                }
                                /* Estilos para los fieldsets */
                                
                                fieldset {
                                    margin-bottom: 20px;
                                    border: 1px solid #08f356;
                                    /* Borde rojo */
                                    border-radius: 5px;
                                    padding: 15px;
                                    background-color: #f8f7fa94;
                                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                }
                                /* Estilos para la leyenda */
                                
                                legend {
                                    font-weight: bold;
                                    margin-bottom: 10px;
                                    color: #1c04f3;
                                }
                                /* Estilos para etiquetas */
                                
                                label {
                                    display: block;
                                    margin-bottom: 8px;
                                    color: #000000;
                                }
                                /* Estilos para los radio buttons */
                                
                                input[type="radio"] {
                                    margin-right: 8px;
                                }
                                /* Estilos para los botones */
                                
                                button {
                                    padding: 12px 24px;
                                    background-color: #e23409ee;
                                    /* Color vibrante */
                                    color: #fff;
                                    border: none;
                                    cursor: pointer;
                                    border-radius: 5px;
                                    box-shadow: 0 4px 8px rgb(212, 235, 2);
                                    transition: background-color 0.3s ease, transform 0.2s ease-out;
                                    /* Transiciones suaves */
                                    text-transform: uppercase;
                                    font-weight: bold;
                                }
                                /* Estilos para el hover de los botones */
                                
                                button:hover {
                                    background-color: #c0392b;
                                    /* Cambio de color en hover */
                                    transform: scale(1.05);
                                    /* Escalado al hacer hover */
                                }
                                /* Estilos para el elemento con id 'resultado' */
                                
                                #resultado {
                                    margin-top: 20px;
                                    text-align: center;
                                    color: #020202;
                                    font-size: 1.2em;
                                    padding: 20px;
                                    background-color: #1096d463;
                                    /* Fondo con un color vibrante */
                                    border-radius: 5px;
                                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
                                }
                                /* Estilos para elementos ocultos */
                                
                                .hidden {
                                    display: none;
                                }